#footer {
  padding-top: 80px;
  padding-bottom: 64px;
  font-size: 1.2rem;

  .subscribe-input {
    --border-color: var(--color-black);
    --border-radius: 0;
  }

  

  .subscribe-button {
    --background: var(--color-white);
    --color: var(--color-black);
    --box-shadow: none;
    --border-radius: 0;
    --padding-top: 16px;
    --padding-bottom: 16px;
    text-transform: none;
    border: 1px solid var(--color-black);
  }

  .divider {
    border-top: 1px solid var(--color-black);
  }

  ul.footer-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @media (max-width: 768px) {
    ul.footer-links {
      display: block;
    }
  }
}
