#footer {
  padding-top: 80px;
  padding-bottom: 64px;
  font-size: 1.2rem;

  .divider {
    border-top: 1px solid var(--color-black);
  }

  ul.footer-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @media (max-width: 768px) {
    ul.footer-links {
      display: block;
    }
  }
}
