// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  /* primary Font */
  --font-primary: "Nunito", sans-serif;

  /* Custom Colors */
  --color-primary: #896af9;
  --color-primary-rgb: 137, 106, 249;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-cream: #fff9e6;
  --ion-color-purple: #ab95f9;
  --color-light-lavender: #f1edfe;
  --color-light-gray: #f2f2f2;
  --color-light-purple: #bfb8d7;
  --color-medium-gray: #838383;
  --color-dark-gray: #666666;


  /* Ionic Theme Colors */
  --ion-color-primary: var(--color-primary);
}

.ion-color-purple {
  --ion-color-base: var(--ion-color-purple);
}

.bg-purple {
  background-color: var(--ion-color-purple);
}

.text-white {
  color: var(--color-white);
}

.text-medium-gray {
  color: var(--color-medium-gray);
}

.text-dark-gray {
  color: var(--color-dark-gray);
}

.bg-light-cream {
  background-color: var(--color-light-cream);
}

.bg-light-lavender {
  background-color: var(--color-light-lavender);
}
