<ion-content>
  <div id="container">
    <div id="hero-section" class="bg-purple">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="5" class="ion-text-center text-white">
            <h1 class="hero-title">Discover the magic of our surprise box</h1>
            <p class="text-bold">Unleash your child's curiosity with our educational subscription box
              filled with fun
              and learning.</p>
            <app-button label="Subscribe Now" />
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="hero-image">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-text-center">
              <img src="assets/images/hero.png" alt="hero image">
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>