#hero-section {
  padding-top: 112px;

  .hero-title {
    text-shadow: 2px 2px 0px #896af9;
  }

  .hero-image {
    margin-top: 72px;
    padding-bottom: 82px;
  }

  @media (min-width: 1200px) {
    .hero-title {
      font-size: 56px;
    }
  }
}
