/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Font declaration */
@import "./assets/fonts/fonts.css";

/* Custom CSS */
html,
body,
ion-app,
ion-content,
p {
  font-family: var(--font-primary);
  font-weight: 400;
}

body {
  font-size: calc(15px + 0.390625vw);
}

h1 {
  font-size: calc(24px + 0.78125vw);
}

h2 {
  font-size: calc(20px + 0.625vw);
}

h3 {
  font-size: calc(18px + 0.546875vw);
}

h4 {
  font-size: calc(16px + 0.46875vw);
}

h5 {
  font-size: calc(14px + 0.390625vw);
}

h6 {
  font-size: calc(12px + 0.3125vw);
}

h1,
h2,
h3 {
  font-family: var(--font-primary);
  font-weight: 700;
}

em {
  font-family: var(--font-primary);
  font-style: italic;
}

a {
  color: var(--color-black);
  text-decoration: underline;

  &:hover {
    color: var(--color-primary);
    text-decoration: none;
  }
}

.text-bold {
  font-weight: 700;
}

// fix for ion-label floating label
.label-text-wrapper {
  top: -5px;
}

#container {
  margin-top: 96px;
  min-height: calc(100vh - 96px);
}

@media (max-width: 768px) {
  #container {
    margin-top: 72px;
    min-height: calc(100vh - 72px);
  }
}
